* {
    box-sizing:border-box;
    margin:0;
    border:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color0:#393939;
    --color1:#e8e8e8;
    --color2:#C27E51;
    --color3:#5DA271;
    --color4:#3B8EA5;
    z-index:0;
}
.bigcap {
    font-weight: bolder;
    font-size:200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}
html {
    background:var(--color2);
}
.head {
    background:var(--color4);
    text-align:center;
}
.wrapper {
    background:#FFF;
}
#logo img {
    width:100px;
    border-radius:100%;
    border:4px solid var(--color0);
}
.wrapper {
    max-width:1024px;
    width:calc(100vw - 10%);
    margin:0 auto;
    box-shadow: 0 0 4px var(--color0);
    padding:50px;
}
.nav {
    z-index:5;
    height:40px;
    background:var(--color3);
    position: relative;
    line-height: 40px;
}
.nav ul {
    display:flex;
    flex-flow: nowrap;
    justify-content: center;
}
.nav ul li {
    display:inline-block;
    text-align:center;
}
.nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display:inline-block;
    width:300px;
}
.nav ul li a:hover {
    color:#e8e8e8;
    transition: .2s ease-in-out;
}
.foot {
    margin:20px 0 0;
    position:sticky;
    top:100%;
}
.panes {
    margin:20px 0;
    width:100%;
    display: flex;
    flex-flow:wrap;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: space-evenly;
}
.pane {
    width: calc(50% - 6px);
    height: 50%;
    min-width:300px;
    min-height:300px;
    background:var(--color2);
    margin:3px;
    text-align:center;
    line-height:300px;
    font-size:25px;
}
.pane a {
    text-decoration: none;
    color:#FFF;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0 0 4px var(--color0);
    width:100%;
    height:100%;
    display:block;
    box-shadow: 0 0 4px var(--color0);
    transition: .2s ease-in-out;
}
.pane a:hover {
    box-shadow: 0 0 7px #000;
}

